.page.theme_light {
  --main-font: "IBM Plex mono";
  --title-color: #FFC2E6;
  --title-shadow-color: #FF0070;
  --main-text-color:#353430;
  --accent-text-color: #353430;
  --accent-color: #353430;
  --link-shadow-color: #FF8DCB;
  --background-color: #FFF1F7;
  --accent-background-color: #FF8DCB;
  --decor-element-color: #FFF1F7;
  --hover-button-color: rgb(53 52 48/ 0.4);
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
  --main-font: "IBM Plex mono";
  --title-color: #FFC2E6;
  --title-shadow-color: #FF0070;
  --main-text-color:#353430;
  --accent-text-color: #353430;
  --accent-color: #353430;
  --link-shadow-color: #FF8DCB;
  --background-color: #FFF1F7;
  --accent-background-color: #FF8DCB;
  --decor-element-color: #FFF1F7;
  --hover-button-color: rgb(53 52 48/ 0.4);
  --background-image: url(../images/cover-image-light.png);
  }
}